body{
    margin: 0;
    background: #333;
}
#title{
    position: absolute;
    width: 40%;
    height: 10%;
    top: 0;
    left: 30%;
    /*background: #666666;*/
    color: white;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#time{
    position: absolute;
    /*width: 30%;*/
    height: 10%;
    top: 5%;
    right: 2%;
    /*background: green;*/
    color: white;
}
#l1{
    position: absolute;
    width: 30%;
    height: 45%;
    top: 10%;
    left: 0;
    /*background: #777777;*/
}
#l2{
    position: absolute;
    width: 30%;
    height: 45%;
    top: 55%;
    left: 0;
    /*background: #666666;*/
}
#m1{
    position: absolute;
    width: 40%;
    height: 30%;
    top: 10%;
    left: 30%;
    /*background: #777777;*/
    color: white;
}
.num{
    width: 25%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gold;
    font-size: 20px;
}
.txt{
    width: 25%;
    float: left;
    font-family: 幼圆;
    display: flex;
    align-items: center;
    justify-content: center;
}
#m2{
    position: absolute;
    width: 40%;
    height: 60%;
    top: 40%;
    left: 30%;
    /*background: #333333;*/
}
#r1{
    position: absolute;
    width: 30%;
    height: 45%;
    top: 10%;
    left: 70%;
    /*background: #777777;*/
}
#r2{
    position: absolute;
    width: 30%;
    height: 45%;
    top: 55%;
    left: 70%;
    /*background: #666666;*/
}
/*
此处是设置自动匹配横屏，以适应手机显示 容器使用下面定义的 id: gyroContain
*/
@media screen and (orientation: portrait) {
    html{
        width : 100vmin;
        height : 100vmax;  /*高度比宽度大*/
    }
    body{
        width : 100vmin;
        height : 100vmax;
    }
    #gyroContain{
        width : 100vmax;
        height : 100vmin;
        transform-origin: top left;
        transform: rotate(90deg) translate(0,-100vmin);
    }
  }
@media screen and (orientation: landscape) {
    html{
        width : 100vmax;
        height : 100vmin;
    }
    body{
        width : 100vmax;
        height : 100vmin;
    }
    #gyroContain{
        width : 100vmax;
        height : 100vmin;
        transform-origin: top left;
        transform: rotate(90deg) translate(0,-100vmin);
    }
}